body {
    background-color:  #FCF5C7;
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
  }
  #wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  #articles {
    display: inline-block;
    overflow: auto;
    width: 70%;
    height: 700px;
  }
  #notes {
    float: right;
    width: 30%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }

  #navi {
    height: 165px;
    width: 100%;
    background-image: url("../../images/banner.png");
    display: inline-block;
    text-align: center;
    margin: 0 auto 0 auto;
}

.label {
  color: darkgoldenrod;
  text-align: center;
}

.topnav {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(13, 13, 88);
}